.header-bg{
  background-color: var(--cor-0);
}

.header{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0 auto;
}

@media (max-width: 750px){
  .header img{
    max-width: 95px;
  }
}
