.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.introducao-imagem img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.imagem-tablet,
.imagem-mobile {
  display: none;
}

.introducao-conteudo {
  display: grid;
  gap: 22px;
}

.introducao-conteudo p {
  max-width: 35ch;
}

@media(max-width: 750px) {
  .introducao {
    padding-bottom: 0px;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .imagem-mobile {
    display: block;
  }

  .imagem-desktop,
  .imagem-tablet {
    display: none;
  }
}