.introducao-bg{
  background-image: url(../../img/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-position: right -150px top -100px;
  background-size: contain;
  display: flex;
  align-items: center;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.introducao-imagem img {
  display: none;
}

.introducao-conteudo {
  display: grid;
  gap: 22px;
}

.introducao-conteudo p {
  max-width: 35ch;
}

@media (max-width: 1300px) {
  .introducao-bg{
    background-position: right -150px top -50px;
  }
  .introducao{
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (max-width: 1100px){
  .introducao{
    padding-top: 150px;
    padding-bottom: 60px;
  }
  .introducao-imagem img{
    display: block;
  }
  .introducao-bg{
    background: var(--cor-0);
  }
}

@media(max-width: 750px) {
  .introducao {
    padding-top: 150px;
    padding-bottom: 0px;
    grid-template-columns: 1fr;
    gap: 32px;
  }

}